h1(class="mb-5") Publiez votre article
form.row.g-3
  .col-md-6
    label.form-label(for="inputNom") Nom
    input.form-control#inputNom(type="text")
  .col-md-6
    label.form-label(for="inputPrenom") Prenom
    input.form-control#inputPrenom(type="text")
  .col-md-6
    label.form-label(for="inputSujet") Sujet
    input.form-control#inputSujet(type="text")
  .col-md-4
    label.form-label(for="inputCategorie") Categorie
    select#inputCategorie.form-select(placeholder="Choose...")
      option(value="")  Choisir le sujet...
      option(value="Bien-être") Bien-être
      option(value="Cuisine") Cuisine
      option(value="Sport") Sport
      option(value="Culture") Culture
  .col-12
    label.form-label(for="inputContent") Contenu
    textarea#inputContent(name="Content").form-control(rows="10")
  .col-12
    button.btn.btn-primary(type="submit") Envoyer