extends ../layout.pug

block content
  div(class="d-flex flex-row content mx-auto")
    div(class="profile-container")
      include ../includes/profile.pug
    div(class="card article-element")
      div(class="card-body")
        if articles
          each article in articles
            include ../includes/article.pug
        else
          p Aucun article n'a été trouvé.