extends ../layout.pug

block content
  div(class="d-flex flex-column justify-content-center content mx-auto")
    div(class="d-flex justify-content-center mb-5")
      include ../includes/profile.pug
    div(class="flex-fill d-flex flex-column")
      if articles
        each article in articles
          div(class="card article-element  my-2")
            include ../includes/article.pug
      else
        p Aucun article n'a été trouvé.